body{
    background: rgb(41, 40, 29);
    background: -moz-linear-gradient(90deg, rgba(41, 40, 29,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(41, 40, 29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(41, 40, 29,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(41, 40, 29,1) 100%);
    background: linear-gradient(90deg, rgba(41, 40, 29,1) 0%, rgba(24,30,31,1) 11%, rgba(19,19,20,1) 41%, rgba(19,19,20,1) 58%, rgba(24,30,31,1) 85%, rgba(41, 40, 29,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829",endColorstr="#1d2829",GradientType=1);
    color: white;
    padding:3rem;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
  font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.contact-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    background-color: rgba(143, 143, 143, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 50px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: #afb07637;
}


/* MAIN SECTION */
main {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70.7vh;
}

.title-section {
    margin-top: 3rem;
}

main h1 {
    text-align: center;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

main h2 {
    text-align: center;
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 1;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
    display: none;
}

.location {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location p {
    background-image: linear-gradient(to right, #aeb076, #ffffff, #268470);
    color: transparent;
    background-clip: text;
    font-size: 1.5rem;
}

.bio-section {
    margin-top: auto;
    margin-bottom: 2rem;
}

.bio {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 22rem;
}

.scroll-down {
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgray;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 3s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    30%,60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }

}


/* 3D planet */
.planet-3D {
    position: absolute;
    top: -20%;
    right: -14%;
    width: 130%;
    height: 130%;
}



/* ABOUT SECTION */
.about-section {
    height: 95vh;
    width: 100%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    margin-bottom: 5%;
    font-size: 5rem;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}


.bento-grid {
    position: relative;
    display: grid;
    height: 90vh;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "intro intro tech"
        "time passion tech"
    ;
    gap: 1.5rem;
}

.card {
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.07));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24PX;
    padding: 2rem;
    transition: transform 0.3s ease,
                border-color 0.3s ease,
                box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* CARD SPECIFIC AREAS */
    .intro { grid-area: intro; min-height: 300px;}
    .tech {grid-area: tech; min-height: 450px;}
    .time { grid-area: time; min-height: 220px;}
    .passion { grid-area: passion; min-height: 220px;}


/* HOVER EFFECTS */
.card:hover {
    border-color: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

/* SPOTLIGHT EFFECT */
.card::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: radial-gradient(circle at var(--x) var(--y),
                rgba(229, 233, 124, 0.1),
                transparent 40%
            );
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before {
    opacity: 1;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
}

.card-text {
    color: #7b7b7b;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 12rem;
    max-width: 30rem;
}

.bento-grid .background-img {
    position: absolute;
    inset: -1% -1% -1% -1%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
}

.model-box {
    position: absolute;
    right: 5%;
    top: -35%;
    width: 30rem;
    height: 30rem;
}

.info-3D {
    width: 150%;
    height: 150%;
    mix-blend-mode: lighten;
}
  
.bento-grid .skills-group {
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 70%;
}

.bento-grid .btn {
    position: absolute;
    bottom: 10%;
    padding: 0.75rem 1.5rem;
    background-color: rgba(229, 233, 124, 0.1);
    color: #aeb076;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

.bento-grid .btn:hover {
    background-color: #aeb076;
    color: black;
}


/* PROJECTS SECTION */

.my-project{
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 700px;
}

.my-project h3{
    font-size: 5rem;
    margin-bottom: 5%;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

.project-card {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.project-vidbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    mix-blend-mode:exclusion;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    min-width: 400px;

}

.project-vidbox video{
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 10px lightgray;
    border-radius: 20px;
    transition: 0.5s;
}

.project-card video:hover{
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    padding-left: 10%;
}

.project-info h1{
    width: 90%;
    font-size: 25px;
    font-weight: bold;
    text-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 450px;
}

.project-info p{
    width: 90%;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 50px;
    margin-top: 0;
}

.project-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: 0.3s;
}

.project-info button:hover{
    opacity: 0.8;
    box-shadow: 0 0 15px #72a1de81;
}

.project-vidbox .hover-sign{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100px;
}

.hover-sign::before,
.hover-sign::after {
    content: "👆";
    text-align: center;
    position: absolute;
    font-size: 50px;
    top: 20%;
    left: 40%;
    border-radius: 40px;
    animation: hover-animation 4s ease-in-out infinite;

}

.hover-sign.active{
    display: none;
}

@keyframes hover-animation {
  0% {
    /* top:20%; */
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transform: translate(100%, 50%) rotate(30deg);
  }

  100% {
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transform: translateX(80%, 80%) rotate(20deg);
  }
}


/* CONTACT SECTION */
.contact-section {
    padding: 60px 0;
    margin-top: 20rem;
    margin-bottom: 10rem;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h3 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 15px;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

.section-header p {
    color: lightgray;
    max-width: 600px;
    margin: 0 auto;
}

/* CONTACT GRID */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.info-card {
    background-color: #1e1e1e;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px);
}

.info-card {
    padding: 30px;
}

.info-card h3 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: lightgray;
}

.contact-item {
    margin-bottom: 3rem;
}

.contact-item p {
    font-weight: 600;
    margin-bottom: 0.8rem;
    color: #FFFF00;
}

.contact-item a {
    color: lightgray;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #FFFF00;
}

.social-link {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.social-link p {
    margin-bottom: 15px;
    color: #FFFF00;
    font-weight: 600;
}

.social-link a {
    display: inline-block;
    margin-right: 15px;
    color: lightgray;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #2d2d2d;
    border-radius: 6px;
    transition: all 0.2s;
}

.social-link a:hover {
    background-color: #ffff0c;
    color: lightgray;
}


/* FORM STYLE */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    background-color: #2d2d2d;
    border-radius: 8px;
    color: lightgray;
    font-size: 16px;
    transition: border-color 0.3s;
    border: 1px solid #333;
}

.form-control:focus {
    outline: none;
    color: #FFFF00;
}

textarea.form-control {
    min-height: 120px;
    resize: vertical;
}

.message-btn {
    width: 100%;
    padding: 12px;
    background-color: rgba(229, 233, 124, 0.1);
    color: #FFFF00;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.message-btn:hover {
    background-color: #FFFF00;
    color: #131314;
}

.success-message {
    background-color: rgba(16, 185, 129, 0.2);
    color: #10b981;
    padding: 12px;
    border-radius: 8px;
    margin-top: 20px;
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2rem 4rem;
    background-color: rgba(229, 233, 124, 0.1);
}

.box-icons {
    display: flex;
    gap: 2rem;
}

.box-icons a {
    color: lightgray;
    font-size: 2rem;
    transition: color 0.5s;
}

.box-icons a:hover {
    color: #FFFF00;
}



@media (max-width: 1400px) {
    main h1 {
        font-size: 6.3rem;
        letter-spacing: 0;
    }

    .bento-grid {
        position: relative;
        display: grid;
        height: 80vh;
        width: 100%;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "intro  tech"
        "time passion " ;
    
    }

    .intro { grid-area: intro; min-height: 200px; min-width:300px ;}
    .tech {grid-area: tech; height: 700px; min-width:250px ;}
    .time { grid-area: time; min-height: 220px; min-width: 250px;}
    .passion { grid-area: passion; min-height: 220px; min-width: 250px; }

    .card-title {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .card-text {
        line-height: 1.3;
        font-size: 0.8rem;
    }

    .model-box {
        right: 10%;
        top: 18%;
    }

    .intro {min-height: 700px;}
    .time {grid-area: time; min-height: 300px;}

    .my-project{
        margin-bottom: 200px;
        scale: 0.8;
    }

    .slider .list .item {
        width: 40rem;
        height: 20rem;
    }

    .slider .list {
        min-width: calc(30rem * var(--quantity));
    }
}

@media (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px){
     .project-vidbox video{
        width: 250px;
        margin-left: -100px;
    }

    .project-info{
        overflow: hidden;
        padding-left: 0;
        margin-left: -50px;
    }

    .project-info h1{
        font-size: 20px;
        max-width: 200px;
        text-wrap: wrap;
    }

    .project-info p{
        font-size: 10px;
        text-wrap: wrap;
        max-width: 200px;
        min-width: 0;
    }

    .project-info button{
        padding: 5px 10px;
    }

    .my-project{
        margin-bottom: 600px;
    }

    .project-card{
        flex-direction: column;
        margin-left: 25%;
        gap: 30px;
    }
    
    .project-vidbox{
        min-width: 200px;
    }

    .project-info{
        width: 85%;
    }

    .project-info h1{
        text-wrap: nowrap;
    }

    .project-info p{
        max-width: 300px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 480px) {
    :root {
        font-size: 10px;
    }

    main h1 {
        display: none;
    }

    main h2 {
        display: block;
        margin-top: -3rem;
    }

    .bio-section {
        margin-bottom: 1rem;
    }

    .bio {
        font-size: 0.8rem;
        max-width: 15rem;
    }

    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "intro"
            "tech"
            "time"
            "passion"
        ;
    }

    .about-title {
        margin-bottom: 5%;
        font-size: 3rem;
    }

    .model-box {
        right: -4%;
        top: 27%;
        scale: 0.7;
    }

   .project-card {
        height: 50%;
    }

    .project-info p{
        margin-bottom: 15px;
    }

    .project-info{
        margin-left: -80px;
    }

    .slider .list .item {
        width: 20rem;
        height: 10rem;
    }

    .slider .list {
        display: flex;
        min-width: calc( 10rem * var(--quantity));
    }

    .section-header h3 {
        font-size: 3rem;
    }

    .contact-section {
        margin-top: 0;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .box-icons {
        display: none;
    }

    footer h3 {
        font-size: 1rem;
    }
}


@media (max-width: 380px) {
    body {
        padding: 1rem;
    }

    main h2 {
        font-size: 6rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .location p{
        font-size: 1rem;
    }

    .contact-btn {
        padding: 0.4rem 1.5rem;
        font-size: 0.9rem;
    }

    .model-box {
        right: 2%;
        top: 27%;
    }

    footer h3 {
        font-size: 0.8rem;
    }
}